.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  width: 640px;
  height: 640px;
  background-color: blue;
  margin: 1rem 0;
}

.chessboard .tile {
  width: 80px;
  height: 80px;
}

.selectedTile {
  border: solid 1.5px #ff9028;
}

.black-tile {
  background-color: #779556;
}
.black-tile:hover {
  background-color: #68854b;
}

.white-tile {
  background-color: #ebecd0;
}
.white-tile:hover {
  background-color: #d0d1b4;
}
.chess-piece {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
